<li class="eachBurger">
	<p class="burgerName">
		{{burger_name}}
	</p>

	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		EAT BURGER!
	</button>{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>